@import "tailwindcss";

.rbc-month-view {
  max-width: 100%;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
}

.rbc-time-view {
  border: 1px solid #e2e8f0;
  border-radius: 8px;
}
.rbc-header {
  padding: 8px 0px;
  font-weight: normal;
  border-bottom: 1px solid #e2e8f0;
}

.rbc-time-header-cell {
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rbc-month-header {
  background-color: #f6f7f9;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.rbc-header:last-child {
  color: #f15550;
}
.rbc-date-cell {
  text-align: right;
  padding: 4px;
}
.rbc-today {
  background-color: #eff6ff;
}
.rbc-event {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
.rbc-event-content {
  height: 100%;
}
.rbc-show-more {
  color: #f15550;
  font-size: 12px;
  padding-left: 4px;
}
.rbc-day-bg {
  background-color: #fff;
}
.rbc-off-range-bg {
  background-color: #f8fafc;
}

.rbc-off-range-bg {
  background-color: #f8fafc;
}

/* CSS for the entire canvas */
.react-flow__pane {
  cursor: var(--cursor) !important;
}

.rbc-label {
  font-family: inherit;
}

.rbc-label {
  font-size: 12px;
  font-family: inherit;
}

.rbc-time-content {
  border: none;
  border-top: 1px solid #e2e8f0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: none;
  border-top-right-radius: none;
}
